<div class="container footer">
    <hr>
    <div class="container p-3">
        <div class="d-flex justify-content-between">
            <div>
                <img loading="lazy" src='{{ "img/logo.jpg" | relURL }}'/>
            </div>
            <div>
                <p>WEAVE Community Inc. is a 501(c)(3) registered in NY</p>
            </div>
            <div>
                <strong>
                    <p>Contact us:</p>
                    <p>WEAVE Community Inc.<br/>PO Box 7124<br/>Ithaca NY, 14851</p>
                    <p>info@weavecommunity.org</p>
                </strong>
            </div>
        </div>
    </div>
</div>
